/* lolicon */
	
   .anime-left,.anime-right {
    position: fixed;
    max-width: 250px;
    width: 5%;
    bottom: 0;
    opacity: 0.25;
    z-index: -1;
  }
  .anime-left {
    left: 0;
  }
  .anime-right {
    right: 0;
  }
@media (min-width: 1000px) {
  .anime-left, .anime-right {
    opacity: 0.75;
  }
}
